<mat-toolbar color="primary">
  <span>Angular User Management App</span>
  <span class="fill-remaining-row"></span>
  <span>{{ mainUser }}</span>
</mat-toolbar>

<table class="main-table" border='1'>

  <tr>
    <td>Id</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Birthday</td>
    <td>Employment</td>
    <td>Favorite Color</td>
  </tr>
  <tr *ngFor="let myData of Repdata; let ind = index">
    <td>{{ind + 1}}</td>
    <td>{{myData.firstName}}</td>
    <td>{{myData.lastName}}</td>
    <td>{{myData.email}}</td>
    <td>{{myData.birthday}}</td>
    <td>{{myData.employment}}</td>
    <td>{{myData.favoriteColor}}</td>
    <td><a (click)="edit(myData)" style="cursor: pointer">Edit</a></td>
    <td><a (click)="delete(myData._id)" style="cursor: pointer">Delete</a></td>
    <td><a (click)="onSave(myData._id)" style="cursor: pointer">Save</a></td>
  </tr>

</table>
